In [133]:
import pandas as aju
from sklearn.datasets import load_iris,load_digits
from sklearn.model_selection import train_test_split,cross_val_score,GridSearchCV,RandomizedSearchCV
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB,MultinomialNB
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [53]:
iris = load_iris()
#iris.data

In [9]:
df = aju.DataFrame(iris.data,columns = iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [13]:
df['target'] = iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [47]:
x_train,x_test,y_train,y_test = train_test_split(df.drop('target',axis= 'columns'),df.target,test_size = 0.33)

In [49]:
model = SVC(C=40,kernel='rbf',gamma = 'auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.94

In [ ]:
kval = ['linear', 'rbf']
cval = [1,10,20]
avg_score = {}
for k in kval:
    for c in cval:
        crss = cross_val_score(SVC(kernel = k,C = c,gamma = 'auto'),iris.data,iris.target,cv = 5)
        avg_score[k+'_'+str(c)] = np.average(crss)

In [61]:
avg_score

{'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_20': 0.9666666666666666,
 'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_20': 0.9666666666666668}

In [69]:
clf = GridSearchCV(SVC(gamma = 'auto'),{
    'C' : [1,10,20],
    'kernel' : ['rbf','linear']
}, return_train_score=False,cv = 5)

In [73]:
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00260406, 0.00160599, 0.00739913, 0.00300102, 0.00260105,
        0.00161381]),
 'std_fit_time': array([0.00048918, 0.0004967 , 0.00981078, 0.00141175, 0.00079199,
        0.00050172]),
 'mean_score_time': array([0.00160108, 0.00140285, 0.0014008 , 0.00439858, 0.00159883,
        0.00099368]),
 'std_score_time': array([4.94130258e-04, 4.77372441e-04, 4.90879563e-04, 3.55554683e-03,
        4.75542624e-04, 1.56395319e-05]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.96666667, 0.96666667, 0.96666667, 1.        , 0.96666667,
        1.        ]),
 'split1_test_score': array([1., 1., 1., 1., 1., 1.]),
 'split2_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.9       , 0.9       ,
        0.9       ]),
 'split3_test_score': array([0.96666667, 0.96666667, 0.96666667, 0.96666667, 0.96666667,
        0.93333333]),
 'split4_test_score': array([1., 1., 1., 1., 1., 1.]),
 'mean_test_score': array([0.98      , 0.98      , 0.98      , 0.97333333, 0.96666667,
        0.96666667]),
 'std_test_score': array([0.01632993, 0.01632993, 0.01632993, 0.03887301, 0.03651484,
        0.0421637 ]),
 'rank_test_score': array([1, 1, 1, 4, 5, 6])}

In [77]:
dt = aju.DataFrame(clf.cv_results_)
dt

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002604,0.000489,0.001601,0.000494,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.001606,0.000497,0.001403,0.000477,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.007399,0.009811,0.001401,0.000491,10,rbf,"{'C': 10, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
3,0.003001,0.001412,0.004399,0.003556,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.966667,1.0,0.973333,0.038873,4
4,0.002601,0.000792,0.001599,0.000476,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,5
5,0.001614,0.000502,0.000994,0.000016,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,6

In [81]:
dt[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf         0.980000
1       1       linear         0.980000
2      10          rbf         0.980000
3      10       linear         0.973333
4      20          rbf         0.966667
5      20       linear         0.966667

In [101]:
#dir(clf)

In [85]:
clf.best_params_

{'C': 1, 'kernel': 'rbf'}

In [87]:
clf.best_score_

0.9800000000000001

In [109]:
rs = RandomizedSearchCV(SVC(gamma='auto'),{
    'C':[1,10,20],
    'kernel':['rbf','linear']
},cv = 5,return_train_score = False,
                       n_iter = 3)
rs.fit(iris.data,iris.target)
rs_df = aju.DataFrame(rs.cv_results_)
rs_df[['param_C','param_kernel','mean_test_score']]

  param_C param_kernel  mean_test_score
0       1          rbf             0.98
1       1       linear             0.98
2      10          rbf             0.98

In [113]:
model_params = {
    'svm':{
        'model': SVC(gamma = 'auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'rfc':{
        'model': RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'log':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    }
}

In [119]:
for model_names,mp in model_params.items():
    #print(model_names)
    print(mp)

{'model': SVC(gamma='auto'), 'params': {'C': [1, 10, 20], 'kernel': ['rbf', 'linear']}}
{'model': RandomForestClassifier(), 'params': {'n_estimators': [1, 5, 10]}}
{'model': LogisticRegression(solver='liblinear'), 'params': {'C': [1, 5, 10]}}

In [121]:
score = []
for model_names,mp in model_params.items():
    gsc = GridSearchCV(mp['model'],mp['params'],return_train_score = False)
    gsc.fit(iris.data,iris.target)
    score.append({
        'model':model_names,'best_score':gsc.best_score_,'best_param':gsc.best_params_
    })

In [123]:
score

[{'model': 'svm',
  'best_score': 0.9800000000000001,
  'best_param': {'C': 1, 'kernel': 'rbf'}},
 {'model': 'rfc', 'best_score': 0.96, 'best_param': {'n_estimators': 1}},
 {'model': 'log', 'best_score': 0.9666666666666668, 'best_param': {'C': 5}}]

In [127]:
dfg = aju.DataFrame(score,columns = ['model','best_score','best_param'])
dfg

  model  best_score                 best_param
0   svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1   rfc    0.960000        {'n_estimators': 1}
2   log    0.966667                   {'C': 5}

In [137]:
digit = load_digits()

In [139]:
model_params = {
    'svc':{
        'model':SVC(gamma = 'auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'rfc':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'log':{
        'model':LogisticRegression(solver = 'liblinear',multi_class = 'auto'),
        'params':{
            'C':[1,5,10]
        }
    },
    'gnb':{
        'model':GaussianNB(),
        'params':{}
    },
    'mnb':{
        'model':MultinomialNB(),
        'params':{}
    },
    'dtc':{
        'model':DecisionTreeClassifier(),
        'params':{
            'criterion':['gini','entropy']
        }
    }
}

In [147]:
scores = []
for model_name,mp in model_params.items():
    gsc = GridSearchCV(mp['model'],mp['params'],cv = 5,return_train_score = False)
    gsc.fit(digit.data,digit.target)
    scores.append({'model':model_name,'best_score':gsc.best_score_,'best_param':gsc.best_params_})
df = aju.DataFrame(scores,columns = ['model','best_score','best_param'])

In [149]:
df

  model  best_score                    best_param
0   svc    0.947697  {'C': 1, 'kernel': 'linear'}
1   rfc    0.904885          {'n_estimators': 10}
2   log    0.922114                      {'C': 1}
3   gnb    0.806928                            {}
4   mnb    0.870350                            {}
5   dtc    0.814715      {'criterion': 'entropy'}