In [50]:
import pandas as aju
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.naive_bayes import GaussianNB

In [4]:
df = aju.read_csv('D:\\MACHINE LEARNING\\DATASETS\\ML_13_NaiveBayes_titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [10]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket',	'Cabin','Embarked'],axis= 'columns' ,inplace = True)
df

     Pclass     Sex   Age     Fare  Survived
0         3    male  22.0   7.2500         0
1         1  female  38.0  71.2833         1
2         3  female  26.0   7.9250         1
3         1  female  35.0  53.1000         1
4         3    male  35.0   8.0500         0
..      ...     ...   ...      ...       ...
886       2    male  27.0  13.0000         0
887       1  female  19.0  30.0000         1
888       3  female   NaN  23.4500         0
889       1    male  26.0  30.0000         1
890       3    male  32.0   7.7500         0

[891 rows x 5 columns]

In [14]:
x = df.drop('Survived',axis='columns')
y = df.Survived

In [40]:
x.isnull().sum()

Pclass      0
Sex         0
Age       177
Fare        0
dtype: int64

In [16]:
df.shape

(891, 5)

In [20]:
dummy = aju.get_dummies(x.Sex).astype(int)
dummy

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [24]:
input = aju.concat([x,dummy],axis = 'columns')
input

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [26]:
x_act = input.drop(['Sex','male'],axis = 'columns')
x_act

     Pclass   Age     Fare  female
0         3  22.0   7.2500       0
1         1  38.0  71.2833       1
2         3  26.0   7.9250       1
3         1  35.0  53.1000       1
4         3  35.0   8.0500       0
..      ...   ...      ...     ...
886       2  27.0  13.0000       0
887       1  19.0  30.0000       1
888       3   NaN  23.4500       1
889       1  26.0  30.0000       0
890       3  32.0   7.7500       0

[891 rows x 4 columns]

In [44]:
x_act['Age'] = x_act.Age.fillna(x_act.Age.mean())
x_act

     Pclass        Age     Fare  female
0         3  22.000000   7.2500       0
1         1  38.000000  71.2833       1
2         3  26.000000   7.9250       1
3         1  35.000000  53.1000       1
4         3  35.000000   8.0500       0
..      ...        ...      ...     ...
886       2  27.000000  13.0000       0
887       1  19.000000  30.0000       1
888       3  29.699118  23.4500       1
889       1  26.000000  30.0000       0
890       3  32.000000   7.7500       0

[891 rows x 4 columns]

In [46]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [48]:
x_train,x_test,y_train,y_test = train_test_split(x_act,y,test_size = 0.2,random_state = 99)

In [54]:
model = GaussianNB()
model.fit(x_train,y_train)

GaussianNB()

In [58]:
model.score(x_test,y_test)

0.7206703910614525

In [56]:
model.predict_proba(x_test)

array([[1.93848036e-01, 8.06151964e-01],
       [3.50489274e-01, 6.49510726e-01],
       [9.64925604e-01, 3.50743964e-02],
       [9.38304263e-01, 6.16957368e-02],
       [1.93514439e-01, 8.06485561e-01],
       [9.25235945e-01, 7.47640547e-02],
       [9.55995769e-01, 4.40042309e-02],
       [5.28350812e-02, 9.47164919e-01],
       [9.72262961e-01, 2.77370391e-02],
       [3.72086639e-02, 9.62791336e-01],
       [2.87594557e-01, 7.12405443e-01],
       [9.37349771e-01, 6.26502294e-02],
       [8.49758330e-01, 1.50241670e-01],
       [2.98959084e-01, 7.01040916e-01],
       [9.71654658e-01, 2.83453417e-02],
       [3.75884675e-02, 9.62411533e-01],
       [2.52197738e-01, 7.47802262e-01],
       [1.65701244e-01, 8.34298756e-01],
       [9.68729400e-01, 3.12706005e-02],
       [8.02893035e-01, 1.97106965e-01],
       [9.58498815e-01, 4.15011850e-02],
       [3.18061806e-01, 6.81938194e-01],
       [9.31799955e-01, 6.82000446e-02],
       [9.38304263e-01, 6.16957368e-02],
       [1.97308167e-01, 8.02691833e-01],
       [3.48990736e-01, 6.51009264e-01],
       [9.69381136e-01, 3.06188635e-02],
       [9.71510426e-01, 2.84895740e-02],
       [1.42825480e-01, 8.57174520e-01],
       [2.02426922e-01, 7.97573078e-01],
       [2.13368377e-01, 7.86631623e-01],
       [9.72251719e-01, 2.77482813e-02],
       [2.04930208e-01, 7.95069792e-01],
       [8.60837291e-03, 9.91391627e-01],
       [9.43984489e-01, 5.60155109e-02],
       [3.53644321e-01, 6.46355679e-01],
       [3.80072467e-50, 1.00000000e+00],
       [9.65360785e-01, 3.46392154e-02],
       [9.72556267e-01, 2.74437327e-02],
       [9.64925604e-01, 3.50743964e-02],
       [9.71514903e-01, 2.84850973e-02],
       [5.87398861e-02, 9.41260114e-01],
       [9.65635918e-01, 3.43640818e-02],
       [8.79897636e-05, 9.99912010e-01],
       [9.41780041e-01, 5.82199593e-02],
       [9.68166106e-01, 3.18338943e-02],
       [9.70424802e-01, 2.95751983e-02],
       [8.21566159e-03, 9.91784338e-01],
       [9.72176672e-01, 2.78233284e-02],
       [3.65757721e-01, 6.34242279e-01],
       [3.90704878e-01, 6.09295122e-01],
       [9.42363825e-01, 5.76361753e-02],
       [9.69222750e-01, 3.07772501e-02],
       [7.66144036e-01, 2.33855964e-01],
       [9.64636506e-01, 3.53634937e-02],
       [3.37742919e-01, 6.62257081e-01],
       [9.68815043e-01, 3.11849565e-02],
       [9.66842937e-01, 3.31570633e-02],
       [1.98589098e-01, 8.01410902e-01],
       [2.81179338e-01, 7.18820662e-01],
       [9.36729969e-01, 6.32700312e-02],
       [2.75755373e-02, 9.72424463e-01],
       [9.62690896e-01, 3.73091039e-02],
       [9.39282295e-01, 6.07177051e-02],
       [9.71453187e-01, 2.85468128e-02],
       [9.72200751e-01, 2.77992491e-02],
       [2.14428257e-01, 7.85571743e-01],
       [1.88428096e-01, 8.11571904e-01],
       [1.85506299e-01, 8.14493701e-01],
       [1.32136517e-12, 1.00000000e+00],
       [9.71481310e-01, 2.85186900e-02],
       [9.40496161e-01, 5.95038388e-02],
       [9.71240979e-01, 2.87590214e-02],
       [9.71481310e-01, 2.85186900e-02],
       [6.79663818e-03, 9.93203362e-01],
       [3.15191779e-01, 6.84808221e-01],
       [8.02147485e-02, 9.19785251e-01],
       [9.70857212e-01, 2.91427885e-02],
       [2.87700078e-01, 7.12299922e-01],
       [3.54312441e-01, 6.45687559e-01],
       [9.62662585e-01, 3.73374146e-02],
       [6.73949529e-01, 3.26050471e-01],
       [9.32529637e-01, 6.74703628e-02],
       [9.32992248e-01, 6.70077521e-02],
       [9.37391803e-01, 6.26081969e-02],
       [1.24431192e-01, 8.75568808e-01],
       [2.19890218e-01, 7.80109782e-01],
       [2.40835322e-02, 9.75916468e-01],
       [9.68421969e-01, 3.15780311e-02],
       [9.71897981e-01, 2.81020195e-02],
       [3.00457072e-04, 9.99699543e-01],
       [3.60448835e-01, 6.39551165e-01],
       [1.90003001e-01, 8.09996999e-01],
       [3.52974745e-01, 6.47025255e-01],
       [2.44257005e-02, 9.75574300e-01],
       [9.42553035e-01, 5.74469648e-02],
       [1.66997828e-01, 8.33002172e-01],
       [9.71347123e-01, 2.86528772e-02],
       [9.72168885e-01, 2.78311155e-02],
       [9.72260882e-01, 2.77391185e-02],
       [9.72379531e-01, 2.76204694e-02],
       [3.52751550e-01, 6.47248450e-01],
       [9.69972445e-01, 3.00275552e-02],
       [6.65470138e-01, 3.34529862e-01],
       [9.70919822e-01, 2.90801784e-02],
       [8.77203572e-01, 1.22796428e-01],
       [9.71510426e-01, 2.84895740e-02],
       [9.62643130e-01, 3.73568704e-02],
       [8.15632414e-01, 1.84367586e-01],
       [3.33783819e-02, 9.66621618e-01],
       [2.96267107e-02, 9.70373289e-01],
       [9.43647609e-01, 5.63523910e-02],
       [9.62211808e-01, 3.77881920e-02],
       [1.06921858e-03, 9.98930781e-01],
       [9.71368090e-01, 2.86319100e-02],
       [9.66829647e-01, 3.31703531e-02],
       [1.05173361e-02, 9.89482664e-01],
       [7.31422108e-01, 2.68577892e-01],
       [9.71453187e-01, 2.85468128e-02],
       [9.71481310e-01, 2.85186900e-02],
       [3.52276039e-01, 6.47723961e-01],
       [1.74425356e-01, 8.25574644e-01],
       [8.14890298e-01, 1.85109702e-01],
       [3.53839930e-01, 6.46160070e-01],
       [9.72510764e-01, 2.74892360e-02],
       [1.79271202e-01, 8.20728798e-01],
       [8.11030910e-01, 1.88969090e-01],
       [7.63125544e-01, 2.36874456e-01],
       [1.00206027e-12, 1.00000000e+00],
       [9.72298046e-01, 2.77019543e-02],
       [3.32568563e-01, 6.67431437e-01],
       [8.08624013e-01, 1.91375987e-01],
       [9.27946403e-04, 9.99072054e-01],
       [9.35791192e-01, 6.42088082e-02],
       [7.38286532e-03, 9.92617135e-01],
       [6.04335672e-03, 9.93956643e-01],
       [9.67489290e-01, 3.25107098e-02],
       [9.40269928e-01, 5.97300717e-02],
       [3.06267082e-01, 6.93732918e-01],
       [9.28033063e-01, 7.19669368e-02],
       [9.70882196e-01, 2.91178038e-02],
       [9.56821065e-01, 4.31789345e-02],
       [8.17287738e-01, 1.82712262e-01],
       [2.13045326e-01, 7.86954674e-01],
       [9.42062060e-01, 5.79379402e-02],
       [2.13021365e-01, 7.86978635e-01],
       [9.71458050e-01, 2.85419497e-02],
       [3.53839930e-01, 6.46160070e-01],
       [9.69374198e-01, 3.06258018e-02],
       [9.71310089e-01, 2.86899107e-02],
       [9.66688463e-01, 3.33115365e-02],
       [9.36298049e-01, 6.37019514e-02],
       [9.42553035e-01, 5.74469648e-02],
       [9.44713493e-01, 5.52865072e-02],
       [9.71449274e-01, 2.85507265e-02],
       [9.71563734e-01, 2.84362659e-02],
       [3.53839930e-01, 6.46160070e-01],
       [9.72595824e-01, 2.74041761e-02],
       [9.71320786e-01, 2.86792140e-02],
       [2.41077131e-01, 7.58922869e-01],
       [3.62359808e-01, 6.37640192e-01],
       [8.59534694e-01, 1.40465306e-01],
       [6.61302019e-01, 3.38697981e-01],
       [1.16302308e-09, 9.99999999e-01],
       [6.37980475e-04, 9.99362020e-01],
       [9.71444945e-01, 2.85550555e-02],
       [9.69941806e-01, 3.00581944e-02],
       [3.43548740e-01, 6.56451260e-01],
       [9.71453187e-01, 2.85468128e-02],
       [9.66222476e-01, 3.37775238e-02],
       [9.71362765e-01, 2.86372345e-02],
       [1.09134229e-02, 9.89086577e-01],
       [1.75041301e-01, 8.24958699e-01],
       [2.59621400e-01, 7.40378600e-01],
       [9.71450749e-01, 2.85492508e-02],
       [9.66672737e-01, 3.33272633e-02],
       [7.75274597e-01, 2.24725403e-01],
       [9.69149058e-01, 3.08509417e-02],
       [9.72128522e-01, 2.78714782e-02]])

In [60]:
x_test[:10]

     Pclass   Age     Fare  female
247       2  24.0  14.5000       1
823       3  27.0  12.4750       1
566       3  19.0   7.8958       0
666       2  25.0  13.0000       0
199       2  24.0  13.0000       1
480       3   9.0  46.9000       0
86        3  16.0  34.3750       0
136       1  19.0  26.2833       1
253       3  30.0  16.1000       0
809       1  33.0  53.1000       1

In [62]:
y_test[:10]

247    1
823    1
566    0
666    0
199    0
480    0
86     0
136    1
253    0
809    1
Name: Survived, dtype: int64

In [64]:
model.predict(x_test[:10])

array([1, 1, 0, 0, 1, 0, 0, 1, 0, 1], dtype=int64)

In [68]:
cross_val_score(GaussianNB(),x_train,y_train,cv = 5)

array([0.75524476, 0.8041958 , 0.84507042, 0.8028169 , 0.75352113])