In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings('ignore')

In [8]:
df = pd.read_csv('D:\MACHINE LEARNING\DATASETS\ML_17_PCA_Heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [10]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [18]:
df1 = df[df.Cholesterol<=(df.Cholesterol.mean()+3*df.Cholesterol.std())]
df1.shape

(915, 12)

In [20]:
df2 = df1[df1.Oldpeak<=(df1.Oldpeak.mean()+3*df1.Oldpeak.std())]
df2.shape

(909, 12)

In [22]:
df3 = df2[df2.RestingBP<=(df2.RestingBP.mean()+3*df2.RestingBP.std())]
df3.shape

(902, 12)

In [26]:
df4 = df3.copy()
df4.ExerciseAngina.replace({'N':0,'Y':1},inplace = True)

In [28]:
df4.Sex.replace({'F':0,'M':1},inplace = True)

In [30]:
df4.ST_Slope.replace(
    {
        'Down': 1,
        'Flat': 2,
        'Up': 3
    },
    inplace=True
)

df4.RestingECG.replace(
    {
        'Normal': 1,
        'ST': 2,
        'LVH': 3
    },
    inplace=True)

In [34]:
df5 = pd.get_dummies(df4,drop_first = True)
df5.head()

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,1,140,289,0,1,172,0,0.0,3,0,True,False,False
1,49,0,160,180,0,1,156,0,1.0,2,1,False,True,False
2,37,1,130,283,0,2,98,0,0.0,3,0,True,False,False
3,48,0,138,214,0,1,108,1,1.5,2,1,False,False,False
4,54,1,150,195,0,1,122,0,0.0,3,0,False,True,False

In [36]:
x = df5.drop('HeartDisease',axis = 'columns')
y = df5.HeartDisease

In [38]:
scaler = StandardScaler()
x_sca = scaler.fit_transform(x)
x_sca.shape

(902, 13)

In [40]:
x_train,x_test,y_train,y_test = train_test_split(x_sca,y,test_size = 0.2,random_state = 99)

In [44]:
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
rfc.score(x_test,y_test)

0.8784530386740331

In [48]:
pca = PCA(0.95)
x_pca = pca.fit_transform(x)

In [52]:
x_train_pca,x_test_pca,y_train,y_test = train_test_split(x_pca,y,test_size = 0.2,random_state = 99)

In [54]:
rfc = RandomForestClassifier()
rfc.fit(x_train_pca,y_train)
rfc.score(x_test_pca,y_test)

0.7458563535911602